*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width:80%;
    margin:0 auto;
    
}

header{
    padding:1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    position: sticky;
    top: 0;
}
header{
    background: white;
}
#header-img{
    width: 17rem;
    margin-left: -1rem;
}
nav#nav-bar ul{
display: flex;
}
nav#nav-bar ul li{
  margin-left:2rem;
 }
 nav#nav-bar ul li a{
  color: black;
   }

@media (max-width:650px){
    header{
        flex-direction: column;
    }
    nav#nav-bar ul{
        display: block;
        text-align: center;
    }
    #header-img{
        margin: 1rem 0;
    }
}
#section-div{
   text-align: center;
}
#section-div h2 {
  margin-bottom:20px;
 }
 #section-div #email {
   padding:4px;
   width:14rem;
   }
   #section-div #email {
    margin-bottom:15px;
    }

#section-div #submit {
   padding: 7px;
   width: 7rem;
   text-transform:uppercase ;
   background: yellow;
   color: black;
   border: 0;
   margin-bottom:4rem;
}
    /*trebam urediti text*/
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container{
    text-align: center;
}
@media (max-width:550px){
    #Features{
        text-align: center;
        width:400px;
    }
}
/*video na centar*/
#how-it-works{
  text-align: center;
  margin: 5rem 0;
}
@media (max-width:550px){
    #video{
        width:480px;
    }
}
/*grid box*/
footer{
    text-align: left;
}
.grid-1{
display: grid;
grid-gap:2rem ;
align-items: center;
justify-content: center;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-auto-rows: repeat(3, 300px);

}

.product{
    line-height: 2.5;
   margin-top:2rem;
}
#tenor{
    border:1px solid black;
  
}
#bass{
    border:1px solid black;
  
}
#valve{
    border:1px solid black;
  
   
}
.product h3{
    background: #ddd;
}
.product p{
    margin:0;
}
 form [type=button]{
     padding:10px 15px ;
    background: yellow;
    margin:20px ;
 }
footer{
   background:#ddd;
   text-align: end;
   height: 100%;
}
footer ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}






